.App {
  font-family: sans-serif;
  text-align: center;
}

.stopwatch{
  padding: 120px;
}

button{
  color: rgb(110, 60, 19);
  height: 100px;
  width: 150px;
  padding: 15px;
}

.custom-button :hover{
  background-color: rgb(169, 86, 18);
  
}